@(message: String, todos: List[Todo], todoForm: Form[Todo])

@main("Kittybot") {

  <h1>Kittybot</h1>

  <div ng-controller="TodoController" infinite-scroll="loadMoreTodos()" class="todos">

    <form class="todoform" ng-submit="addTodo()">
      <input type="text" ng-model="todoText" size="30" placeholder="What are you thinking?">
      <input type="submit" value=">">
    </form>

    <ul class="unstyled">
      <li ng-repeat="todo in todos | orderBy:'id':true">
      <span class="edit" ng-bind-html="todo.content | unsafe"></span> <a href="" ng-click="deleteTodo(todo)" class="delete">X</a>
      </li>
    </ul>

  </div>


}
